.downArray, .fa-exclamation-triangle{
    font-size: 1.5em;
}
.spaceUp{
    margin-top: 30px;
}
.fa-info-circle{
    color: grey;
}
.fa-info-circle:hover{
    cursor: pointer;
}
small{
    color: red;
}
.whiteStr li a{
    color: white;
}
.myNav{
    height: 100px;
    background-color: #007bff;
}
.warning{
    color : red;
}
.formatingEditor{
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: #f2f2f2;
}
.noRadiusTop{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.textEdit .noRadiusBottom{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.textEdit .noRadiusBottom i{
    font-size: .75em;
}